footer{
   padding: 40px 0;
   background-image: $green-gradient;
   background-color: $green;
   color: $white;
   .centered-section{
      text-align: center;
   }
   p,h6{
      margin-bottom: 10px;
   }
   h6{
      font-size: 2.4rem;
      color: #ddd;
      border-bottom: 2px dotted;
   }
   a{
      color: #ddd;
      &:hover{
         text-decoration: none;
      }
      &.email{
         border-bottom: 1px solid;
      }
   }
}
