footer{
   padding: 40px 0;
   background-color: $green;
   color: $white;
   .centered-section{
      text-align: center;
   }
   p,h6{
      margin-bottom: 0px;
   }
   h6{
      font-size: 2.4rem;
      color: #ddd;
   }
   a{
      color: #ddd;
      &:hover{
         text-decoration: none;
      }
   }
}
