footer{
   padding: 40px 0;
   background-image: $green-gradient;
   background-color: $green;
   color: $white;
   position: relative;
   .centered-section{
      text-align: center;
   }
   p,h6{
      margin-bottom: 10px;
   }
   h6{
      font-size: 2.4rem;
      color: #ddd;
      border-bottom: 1px solid;
   }
   a{
      color: #ddd;
      &:hover{
         text-decoration: none;
      }
      &.email{
         border-bottom: 1px solid;
      }
   }
   .contact{
      @media screen and ($bp-smaller-than-tablet){
         margin-bottom: 40px;
      }
   }
   .button.scroll-link{
      @media screen and ($bp-smaller-than-tablet){
         position: absolute;
         bottom: 0;
         right: 0;
      }
   }
}
